<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="page-container" style="display: flex; flex-direction: column;height:100%">
    <div class="row row-max-width-height" style="flex:3">
      <div class="card blue lighten-3 z-depth-5">
        <div class="center">
          <span class="card-title">Capture Front</span>
          <form id="savebutton" action="javascript:;" class="hide" style="display: flex;  margin: 0px 7px 0px;">
            <div class="input-field" style="width: 70%">
              <input id="email" type="email" autocomplete="off" class="validate" required>
              <label for="email" style="margin-top: 8px; color: darkblue;">Email</label>
            </div>
            <div>
              <button class="btn waves-effect waves-light" style="margin: 20px 0px; float: right;" type="save">
                Save
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
        <div style="position: relative; clear: both;">
          <span class="right-capture-indicate hide"><i class="small material-icons">arrow_forward</i></span>
          <span class="left-capture-indicate hide"><i class="small material-icons">arrow_back</i></span>
          <span class="bottom-capture-indicate hide"><i class="small material-icons">arrow_downward</i></span>
          <span class="top-capture-indicate hide"><i class="small material-icons">arrow_upward</i></span>
          <span class="front-capture-indicate"><i class="small material-icons">crop_free</i></span>
          <video onloadedmetadata="onPlay(this)" id="inputVideo" width="100%" autoplay muted
            playsinline></video>
        </div>
        <div class="card-action center">
          <a class="btn-floating btn-large waves-effect waves-light disable-click" id="takeScreenshot">
            <i class="material-icons large">center_focus_strong</i>
          </a>
        </div>
        <div class="progress" id="loader">
          <div class="indeterminate"></div>
        </div>
      </div>
    </div>
    <div class="row row-max-width-height flexbox" style="flex:1">
      <div id="front-capture" class="show-images">
        <img src="face.png" alt="front capture" />
      </div>
      <div id="top-capture" class="show-images">
        <img src="face.png" alt="top capture" />
      </div>
      <div id="bottom-capture" class="show-images">
        <img src="face.png" alt="bottom capture" />
      </div>
      <div id="left-capture" class="show-images">
        <img src="face.png" alt="left capture" />
      </div>
      <div id="right-capture" class="show-images">
        <img src="face.png" alt="right capture" />
      </div>
    </div>
  </div>
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
</body>

<script>
  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
  async function onPlay() {
    const videoEl = $('#inputVideo').get(0)

    if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
      return setTimeout(() => onPlay(), 200)

    const options = getFaceDetectorOptions()
    const result = await faceapi.detectSingleFace(videoEl, options)
    if (result) {
      $("#takeScreenshot").removeAttr("title").removeClass("disable-click");
    } else {
      $("#takeScreenshot").attr("title", "Kindly keep closer the face.").addClass("disable-click");
    }

    /*if (result) {
      const canvas = $('#overlay').get(0)
      const dims = faceapi.matchDimensions(canvas, videoEl, true)
      faceapi.draw.drawDetections(canvas, faceapi.resizeResults(result, dims))
    }*/

    setTimeout(() => onPlay(), 200)
  }
  var captureArray = ["front-capture", "top-capture", "bottom-capture", "left-capture", "right-capture"];
  var captureTitle = ["Capture Front", "Capture Top", "Capture Bottom", "Capture Left", "Capture Right"];
  var captureData = [];
  var capturedStep = 0;
  $(document).on("click", "#takeScreenshot", function () {
    $(".card-action").toggle();
    $("#loader").toggle();
    if (capturedStep < captureArray.length) {
      const vEl = $('#inputVideo').get(0)
      const cn = document.createElement('canvas');
      cn.width = vEl.videoWidth;
      cn.height = vEl.videoHeight;
      cn.getContext('2d').drawImage(vEl, 10, 10);
      const img = document.createElement("img");
      img.className = "square responsive-img widthHeight100 filled";
      var imgUrl = cn.toDataURL('image/webp');
      img.src = imgUrl;
      var wrapper = captureArray[capturedStep];
      captureData.push({
        "name": wrapper,
        "data": imgUrl
      });
      //document.getElementById(wrapper).style.backgroundImage = "url(" + imgUrl + ")";
      document.getElementById(wrapper).innerHTML = "";
      document.getElementById(wrapper).appendChild(img);
      capturedStep++;
      $(".card-title").text(captureTitle[capturedStep]);
      $("span[class$='-indicate']").addClass("hide");
      $("." + captureArray[capturedStep] + "-indicate").removeClass("hide");
      $(".card-action").toggle();
      $("#loader").toggle();
      if (capturedStep == captureArray.length) {
        $(".card-title").remove();
        $("#savebutton").removeClass("hide");
      }
    } else {
      $(".card-action").toggle();
      $("#loader").toggle();
      toastr.error("All steps completed, Now you can save your images.")
    }
  })
  $("#savebutton").submit(function () {
    const isValidEmail = $("#savebutton")[0].checkValidity();
    if (isValidEmail) {
      var email = $(this).find("[type=email]").val();
      var params = {
        "emailAddress": email,
        "FIndex": "",
        "mode": "FACE",
        "flag": "A",
        "deviceInfo": "",
        "lat": "0.0",
        "lng": "0.0",
        "AppMode": "ADD",
        "AppName": "webEnroll",
        "DeviceCode": ""
      };
      for (var i = 0; i < captureData.length; i++) {
        params["tmpl" + (i + 1)] = captureData[i].data;
      }
      saveImages(params)
    }
  });
  async function saveImages(params) {
    $.ajax({
      url: "https://mybiodentity.com/finger/fprint.asmx?op=SaveFPrint",
      method: "POST",
      data: params,
      success: function (data) {
        if (data.status == 200) {
          toastr.success(data.message ? data.message : "Successfully uploaded.");
        } else {
          toastr.error(data.message, data.status);
        }
      },
      error: function (jqXHR, exception) {
        toastr.error(jqXHR.statusText, jqXHR.status);
      }
    });
  }

  async function run() {
    // load face detection model
    await changeFaceDetector(TINY_FACE_DETECTOR)
    changeInputSize(128)

    // try to access users webcam and stream the images
    // to the video element
    const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
    const videoEl = $('#inputVideo').get(0)
    videoEl.srcObject = stream;
  }

  function updateResults() { }

  $(document).ready(function () {
    //   renderNavBar('#navbar', 'webcam_face_detection')
    initFaceDetectionControls()
    run();
    $("video").attr({height: ($(window).height() - $(".flexbox").height() - 150)});
  })
</script>
</body>

</html>