html, body {
    height:100%;
}
.widthHeight100 {
    width : 100%;
    height: 100%;
}

.maxWidthHeight100 {
    max-width : 100%;
    max-height: 100%;
}

.row-max-width-height {
    max-width : 40%;
    clear: both
}
.row-max-width-height.flexbox {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.show-images {
    width              : 20%;
    text-align         : center;
}

.show-images img {
    max-width: 70% !important;    
    vertical-align: middle;
}
.show-images img.filled {
    max-width: 90% !important;    
    vertical-align: middle;
}
video {
    border-radius: 10px;
}

.card-title {
    font-weight: 400 !important;
    /* color   : darkblue; */
}

.disable-click {
    pointer-events  : none;
    background-color: grey !important;
}

.right-capture-indicate {
    position        : absolute;
    right           : 0px;
    top             : calc(50% - 15px);
    width           : 26px;
    height          : 26px;
    background-color: #90CAF9;
	z-index: 99;
}

.left-capture-indicate {
    position        : absolute;
    top             : calc(50% - 15px);
    width           : 26px;
    height          : 26px;
    background-color: #90CAF9;
	z-index: 99;
}

.top-capture-indicate {
    position        : absolute;
    right           : calc(50% - 15px);
    top             : 0px;
    width           : 26px;
    height          : 26px;
    background-color: #90CAF9;
	z-index: 99;
}

.bottom-capture-indicate {
    position        : absolute;
    right           : calc(50% - 15px);
    bottom          : 5px;
    width           : 26px;
    height          : 26px;
    background-color: #90CAF9;
	z-index: 99;
}

.front-capture-indicate {
    position: absolute;
    right   : calc(50% - 15px);
    top     : 50%;
    width   : 26px;
    height  : 26px;
	z-index: 99;
}

.front-capture-indicate i {
    color: #90CAF9;
}

video{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); / Safari and Chrome /
  -moz-transform:rotateY(180deg); / Firefox /
}

@media only screen and (max-width: 600px) {
    .row-max-width-height {
        max-width : 90%;
        /* max-height: 70%; */
    }
} 
